<%= link_to new_quest_path, class: "btn btn-success pull-right" do %><span class="glyphicon glyphicon-plus"></span><% end %>
<h1>Quest Board</h1>

<%= will_paginate @quests if false%>
<%= search_form_for @search, html: {class: "form-inline"} do |f| %>
  <div class="form-group">
    <%= f.label :title_or_description_cont_any, "I'm looking for ", class: "control-label" %>
    <%= f.text_field :title_or_description_cont_any, placeholder: "keyword", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price_gteq, "with bounty between" %>
    <%= f.text_field :price_gteq, class: "form-control", placeholder: "min", size:3 %>
    <%= f.label :price_lteq, "and" %>
    <%= f.text_field :price_lteq, class: "form-control", placeholder: "max", size:3 %>
  </div>
  <div class="form-group">
    <%= label_tag :within, "within" %>
    <%= text_field_tag :within, params[:within], placeholder: "distance", class: "form-control", size:10 %>
    <%= label_tag :miles, "mile(s)" %>
  </div>
  <div><%= f.submit "Search", class: "btn btn-default" %></div>
<% end %>
<br>

<br />
<table class="table table-striped">
  <colgroup>
    <col class="col-md-2">
    <col class="col-md-1">
    <col class="col-md-3">
    <col class="col-md-2">
    <col class="col-md-2">
    <col class="col-md-1">
    <col class="col-md-1">
  </colgroup>
  <thead>
    <tr>
      <th><%= sort_link @search, :title, "Title" %></th>
      <th><%= sort_link @search, :price, "Price" %></th>
      <th><%= sort_link @search, :description, "Description" %></th>
      <th><%= sort_link @search, :post_time, "Post time" %></th>
      <th><%= sort_link @search, :expiration_time, "Expiration time" %></th>
      <th>Questgiver</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= link_to quest.title, quest %></td>
        <td><%= number_to_currency quest.price %></td>
        <td><%= quest.description %></td>
        <td><%= time_ago_in_words(quest.post_time) %> ago</td>
              <% if quest.expiration_time < Time.now %>
              <td class="text-danger">expired <%= time_ago_in_words(quest.expiration_time) %> ago!</font> </td>
              <% else %>
              <td>in <%= time_ago_in_words(quest.expiration_time) %>
              <% end %>
              </td>
        <td><%= link_to quest.questgiver.username, quest.questgiver.profile %></td>
        <td class="text-right">
          <%= link_to quest, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
