<%= link_to new_quest_path, class: "btn btn-success pull-right" do %><span class="glyphicon glyphicon-plus"></span><% end %>
<h1>Quest Board</h1>

<%= will_paginate @quests if false%>
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :title_or_description_cont_any, "I'm looking for " %>
    <%= f.text_field :title_or_description_cont_any, size: 20, placeholder: "adventure" %>
  </div>
  <div class="field">
    <%= f.label :price_gteq, "With bounty between" %>
    <%= f.text_field :price_gteq, size: 5 %>
    <%= f.label :price_lteq, "and" %>
    <%= f.text_field :price_lteq, size: 5 %>
  </div>
  <div class="field">
    <%= label_tag :within %>
    <%= text_field_tag :within, params[:within], placeholder: "distance" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div id="tag_cloud">
  <% tag_cloud Quest.tag_counts, %w[s m l] do |tag, css_class| %>
    <mark><%= link_to tag.name, tag_path(tag.name), class: css_class %></mark>
  <% end %>
</div>

<br />
<table class="table table-striped">
  <colgroup>
    <col class="col-md-2">
    <col class="col-md-1">
    <col class="col-md-3">
    <col class="col-md-2">
    <col class="col-md-2">
    <col class="col-md-1">
    <col class="col-md-1">
  </colgroup>
  <thead>
    <tr>
      <th><%= sort_link @search, :title, "Title" %></th>
      <th><%= sort_link @search, :price, "Price" %></th>
      <th><%= sort_link @search, :description, "Description" %></th>
      <th><%= sort_link @search, :post_time, "Post time" %></th>
      <th><%= sort_link @search, :expiration_time, "Expiration time" %></th>
      <th>Questgiver</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= link_to quest.title, quest %></td>
        <td><%= quest.price %></td>
        <td><%= quest.description %></td>
        <td><%= time_ago_in_words(quest.post_time) %> ago</td>
              <% if quest.expiration_time < Time.now %>
              <td> <font color = "red"> Expired <%= time_ago_in_words(quest.expiration_time) %> ago!</font> </td>
              <% else %>
              <td>in <%= time_ago_in_words(quest.expiration_time) %>
              <% end %>
              </td>
        <td><%= link_to quest.questgiver.username, quest.questgiver.profile %></td>
        <td class="text-right">
          <%= link_to quest, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
