<h1>Quest Board</h1>


<%= search_form_for @search do |f| %>
  <div class="field">
    <!-- NEED IMPROVEMENT -->
    <%= f.label :title_or_description_cont_any, "Keywords  " %>
    <%= f.text_field :title_or_description_cont_any, size: 20 %>
  </div>
  <div class="field">
    <%= f.label :price_gteq, "Price Between" %>
    <%= f.text_field :price_gteq, size: 5 %>
    <%= f.label :price_lteq, "and" %>
    <%= f.text_field :price_lteq, size: 5 %>
    <!-- <input type="hidden" name="q[adventurer_id_blank]" id="q_adventurer_id_blank" value = '1'> -->
    <!-- <input type="hidden" name="q[questgiver_id_not_eq]" id="q_questgiver_id_not_eq" value = <%= current_user.id%>> -->
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div id="tag_cloud">
  <% tag_cloud Quest.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<br />
<table class="table table-striped">
    <tr>
<<<<<<< HEAD
      <!-- <th><%= sort_link @search, :adventurer_id, "Adventurer" %></th> -->
=======
      <th><%= sort_link @search, :questgiver, "Questgiver" %></th>
      <!-- <th><%= sort_link @search, :adventurer, "Adventurer" %></th> -->
>>>>>>> Rating
      <th><%= sort_link @search, :title, "Title" %></th>
      <th><%= sort_link @search, :price, "Price" %></th>
      <th><%= sort_link @search, :description, "Description" %></th>
      <th><%= sort_link @search, :post_time, "Post time" %></th>
      <th><%= sort_link @search, :expiration_time, "Expiration time" %></th>
      <th>Questgiver</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  <tbody>
    <% @quests.each do |quest| %>
      <tr>
<<<<<<< HEAD
        <!-- <td><%= quest.adventurer.present? ? quest.adventurer.username : '' %></td> -->
        <td><%= link_to quest.title, quest %></td>
=======
        <td><%= quest.questgiver.username %></td>
        <!-- <td><%= quest.adventurer.present? ? quest.adventurer.username : '' %></td> -->
        <td><%= quest.title %></td>
>>>>>>> Rating
        <td><%= quest.price %></td>
        <td><%= quest.description %></td>
        <td><%= time_ago_in_words(quest.post_time) %></td>
        <td><%= time_ago_in_words(quest.expiration_time) %></td>
        <td><%= quest.questgiver.username %></td>
        <!-- <td><%= link_to 'Show', quest %></td> -->
        <!-- <td><%= link_to 'Edit', edit_quest_path(quest) %></td> -->
        <!-- <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= will_paginate @quests if false%>

<%= link_to 'New Quest', new_quest_path %>
