<div id="accepted" class="col-md-6">
  <h1>Accepted Quests</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Questgiver</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Expiration time</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.quests_accepted.each do |quest| %>
        <tr>
          <td><%= quest.questgiver.username %></td>
          <td><%= quest.title %></td>
          <td><%= number_to_currency(quest.price) %></td>
          <td><%= quest.description %></td>
          <td>in <%= time_ago_in_words(quest.expiration_time) %></td>
        </tr>
      <% end %>
      <% current_user.pending_quests.each do |quest| %>
        <tr class='info'>
          <td><%= quest.questgiver.username %></td>
          <td><%= quest.title %></td>
          <td><%= quest.price %></td>
          <td><%= quest.description %></td>
          <td>in <%= time_ago_in_words(quest.expiration_time) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="posted" class="col-md-6">
  <h1>Posted Quests</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Questgiver</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Post time</th>
        <th>Expiration time</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.quests_posted.each do |quest| %>
        <tr>
          <td><%= quest.questgiver.username %></td>
          <td><%= quest.title %></td>
          <td><%= quest.price %></td>
          <td><%= quest.description %></td>
          <td><%= time_ago_in_words(quest.post_time) %></td>
          <td><%= time_ago_in_words(quest.expiration_time) %></td>
          <td>
            <%= link_to edit_quest_path(quest) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
