<p>
  <strong>Questgiver:</strong>
  <%= @quest.questgiver.username %>
</p>

<% if @quest.adventurer %>
<p>
  <strong>Adventurer:</strong>
  <%= @quest.adventurer.username %>
</p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quest.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @quest.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>


<p>
  <strong>Post time:</strong>
  <%= @quest.post_time %>
</p>

<p>
  <strong>Expiration time:</strong>
  <%= @quest.expiration_time %>
</p>

<% if @quest.adventurer_id == nil %>
  <p>
    <strong>Pending adventurers!</strong>
    <table>
    <% if @quest.pendings.present? %>
      <thead>
        <tr>
          <th>Users Who Requested the Quest:</th>
        </tr>
      </thead>

      <tbody>
          <% @quest.pendings.each do |pending| %>
            <tr>
              <td><%= pending.user.username %></td>
              <% if current_user == @quest.questgiver %>
                  <td><%= link_to 'Accept', accept_quests_path(id: @quest.id, adventurer: pending.user_id), method: :post %></td>
                  <td><%= link_to 'Reject', pending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%end %>
            </tr>
          <% end %>
      </tbody>
    <% else %>
        <p> No pending adventurers! </p>
    <% end %>
  </table>
  </p>


  <% if current_user != @quest.questgiver%>
    <%= button_to 'Let me take the quest!', pendings_path(pending: {quest_id: @quest.id, user_id: current_user.id}) %>
  <% end %>

<% end %>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
