<div class="col-md-12 text-right">
  <% if current_user == @quest.questgiver %>
  <%= link_to 'Edit', edit_quest_path(@quest), class: "btn btn-info" %>
  <% elsif @quest.open? %>
  <%= link_to 'Let me take the quest!', pendings_path(pending: {quest_id: @quest.id, user_id: current_user.id}), method: :post, class: "btn btn-success" %>
  <% end %>
</div>

<div class="col-md-6">
  <table class="table">
    <thead>
      <th><h1>Quest</h1></th>
      <th>&nbsp;</th>
    </thead>
  <tbody>
    <tr>
      <th scope="row">Questgiver</th>
      <td><%= @quest.questgiver.username %></td>
    </tr>
    <% if @quest.adventurer %>
    <tr>
      <th scope="row">Adventurer</th>
      <td><%= @quest.adventurer.username %></td>
    </tr>
    <% end %>
    <tr>
      <th scope="row">Title</th>
      <td><%= @quest.title %></td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td><%= number_to_currency @quest.price %></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><%= @quest.description %></td>
    </tr>
    <tr>
      <th scope="row">Tags</th>
      <td><%= raw @quest.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
    </tr>
    <tr>
      <th scope="row">Post time</th>
      <td><%= @quest.post_time %></td>
    </tr>
    <tr>
      <th scope="row">Expiration time</th>
      <td><%= @quest.expiration_time %></td>
    </tr>
    <% if @quest.review %>
    <tr>
      <th scope="row">Rating</th>
      <td><%= link_to @quest.review.rating, @quest.review %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=550x300&maptype=roadmap&zoom=13&markers=%7C#{@quest.questgiver.profile.latitude},#{@quest.questgiver.profile.longitude}" %>
</p> 
</div>

<div class="col-md-6">
<% if @quest.open? %>
  <table class="table">
  <% if @quest.pendings.present? %>
    <thead>
      <th>Pending Adventurers</th>
      <th><h1>&nbsp;</h1></th>
      <th><h1>&nbsp;</h1></th>
    </thead>
    <tbody>
        <% @quest.pendings.each do |pending| %>
          <tr>
            <td><%= link_to pending.user.username, pending.user.profile %></td>
            <% if current_user == @quest.questgiver %>
                <td><%= link_to 'Accept', accept_quests_path(id: @quest.id, adventurer: pending.user_id), method: :post %></td>
                <td><%= link_to 'Reject', pending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
    </tbody>
    <% end %>
  </table>
  <% end %>
</div>
