<p>
  <strong>Questgiver:</strong>
  <%= @quest.questgiver.username %>
</p>

<% if @quest.adventurer %>
<p>
  <strong>Adventurer:</strong>
  <%= @quest.adventurer.username %>
</p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quest.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Post time:</strong>
  <%= @quest.post_time %>
</p>

<p>
  <strong>Expiration time:</strong>
  <%= @quest.expiration_time %>
</p>

<p>
  <strong>Pending adventurers!</strong>
  <table>
  <% if @quest.pendings.present? %>
    <thead>
      <tr>
        <th>User</th>
      </tr>
    </thead>

    <tbody>
        <% @quest.pendings.each do |pending| %>
          <tr>
            <td><%= pending.user.username %></td>
            <td><%= link_to 'Accept', accept_quests_path(id: @quest.id, adventurer: pending.user_id), method: :post %></td>
            <td><%= link_to 'Reject', pending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
  <% else %>
      <p> No pending adveturers! </p>
  <% end %>
</table>
</p>

<% if current_user != @quest.questgiver %>
  <%= button_to 'I want the Quest!!', pendings_path(pending: {quest_id: @quest.id, user_id: current_user.id}) %>
<% end %>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
