<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#dashboard" aria-controls="home" role="tab" data-toggle="tab">Dashboard</a></li>
    <li role="presentation"><a href="#accepted" aria-controls="profile" role="tab" data-toggle="tab">Accepted Quests</a></li>
    <li role="presentation"><a href="#posted" aria-controls="messages" role="tab" data-toggle="tab">Posted Quests</a></li>
    <li role="presentation"><a href="#history" aria-controls="settings" role="tab" data-toggle="tab">History</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dashboard">
      <h1>Welcome back, <%= current_user.profile.first_name %>!</h1>
      <p>You're currently adventuring through some number of quests.</p>

      <% if false %>
        <p> Your current adventurer rating: <%= current_user.profile.adventurer_rating %> </p>
        <table class="table">
          <thead>
            <tr>
              <th>Rating</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
           <% current_user.reviews.each do |review| %>
            <tr>
              <td> <%= review.rating %></td>
              <td> <%= review.comment %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
      <%= render_activities @activities %>
    </div>


    <div role="tabpanel" class="tab-pane" id="accepted">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Expiration time</th>
            <th>Questgiver</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <% current_user.quests_accepted.where("status <= ?", Quest.statuses[:complete]).each do |quest| %>
            <tr class="<%= quest.complete? ? "info" : "" %>">
              <td><%= link_to quest.title, quest %></td>
              <td><%= quest.price %></td>
              <td><%= quest.description %></td>
              <td>in <%= time_ago_in_words(quest.expiration_time) %></td>
              <td><%= link_to quest.questgiver.username, quest.questgiver.profile %>&nbsp;
                <%= quest.questgiver.phone_numbers if quest.questgiver.phone_numbers.exists?%></td>
              <td class="text-right">
                <% if !quest.complete? %>
                  <%= link_to complete_quests_path(id: quest, s: true), method: :post, class: "btn btn-success" do %>
                    <span class="glyphicon glyphicon-ok"></span>
                  <% end %>
                <% end %>
                <%= link_to complete_quests_path(id: quest, s: false), method: :post, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% current_user.pendings.each do |pq| %>
            <tr class="active">
              <td><%= link_to pq.quest.title, pq.quest %></td>
              <td><%= pq.quest.price %></td>
              <td><%= pq.quest.description %></td>
              <% if pq.quest.expiration_time < Time.now %>
              <td class="text-danger">expired <%= time_ago_in_words(pq.quest.expiration_time) %> ago!</font> </td>
              <% else %>
              <td>in <%= time_ago_in_words(pq.quest.expiration_time) %>
              <% end %>
              </td>
              <td><%= link_to pq.quest.questgiver.username, pq.quest.questgiver.profile %></td>
              <td class="text-right">
                <%= link_to pending_path(pq), method: :delete, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="posted">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Expiration time</th>
            <th>Adventurer</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <% current_user.quests_posted.each  do |quest|%>
            <tr>
              <td><%= link_to quest.title, quest %></td>
              <td><%= quest.price %></td>
              <td><%= quest.description %></td>
              <% if quest.expiration_time < Time.now %>
              <td class="text-danger">expired <%= time_ago_in_words(quest.expiration_time) %> ago!</font> </td>
              <% else %>
              <td>in <%= time_ago_in_words(quest.expiration_time) %>
              <% end %>
              </td>
              <td><%= link_to quest.adventurer.username, quest.adventurer.profile if quest.adventurer %>&nbsp;
                <%= quest.questgiver.phone_numbers if quest.questgiver.phone_numbers.exists?%></td>
              <td class="text-right">
                <% if quest.complete? %>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#new_review_modal" data-qid=<%= quest.id %>>
                  <span class="glyphicon glyphicon-star"></span>
                </button>
                <% end %>
                <%= link_to quest_path(quest), class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="history">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Post time</th>
            <th>Review</th>
            <th>Questgiver</th>
            <th>&nbsp;</th>
          </tr> 
        </thead>

        <tbody>
          <% current_user.quests_accepted.where("status >= ?", Quest.statuses[:complete]).each do |quest| %>
            <tr>
              <td><%= quest.title %></td>
              <td><%= quest.price %></td>
              <td><%= quest.description %></td>
              <td><%= time_ago_in_words(quest.post_time) %></td>
              <td>
              <% if quest.review %>  
                <span class="label label-default" rel="details" data-id=<%= quest.review.id %>>
                  <% quest.review.rating.times do |i| %>
                    <span class="glyphicon glyphicon-star"></span>
                  <% end %>
                </span>
              <% end %>
              </td>  
              <td><%= link_to quest.questgiver.username, quest.questgiver.profile %></td>
              <td class="text-right">
                <% if quest.success? %>
                  <%= link_to quest_path(quest), class: "btn btn-success" do %>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
                <% else %>
                  <%= link_to quest_path(quest), class: "btn btn-danger" do %>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" id="new_review_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Write a review</h4>
      </div>
      <div class="modal-body">
        <%= render 'reviews/form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'profile' %>
<% end %>

