<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#dashboard" aria-controls="home" role="tab" data-toggle="tab">Dashboard</a></li>
    <li role="presentation"><a href="#accepted" aria-controls="profile" role="tab" data-toggle="tab">Accepted Quests</a></li>
    <li role="presentation"><a href="#posted" aria-controls="messages" role="tab" data-toggle="tab">Posted Quests</a></li>
    <li role="presentation"><a href="#history" aria-controls="settings" role="tab" data-toggle="tab">History</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dashboard">
      <h1>Welcome back, <%= current_user.profile.first_name %>!</h1>
      <%= render_activities @activities %>
<!--        <% current_user.reviews.each do |review| %>
      <tr>
        <td> <%= review.rating %></td>
        <td> <%= review.comment %></td>
      </tr>
      <% end %> -->
    </div>


    <div role="tabpanel" class="tab-pane" id="accepted">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Expiration time</th>
            <th>Questgiver</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <% current_user.quests_accepted.where("status <= ?", Quest.statuses[:complete]).each do |quest| %>
            <tr class="<%= quest.complete? ? "info" : "" %>">
<<<<<<< HEAD
              <td><%= quest.title %></td>
              <td><%= quest.price %></td>
              <td><%= quest.description %></td>
              <td>in <%= time_ago_in_words(quest.expiration_time) %></td>
              <td><%= link_to quest.questgiver.username, quest.questgiver.profile %></td>
=======
              <td><%= link_to quest.title, quest %></td>
              <td><%= quest.price %></td>
              <td><%= quest.description %></td>
              <td>in <%= time_ago_in_words(quest.expiration_time) %></td>
              <td><%= link_to quest.questgiver.username, quest.questgiver.profile %>&nbsp;
                <%= quest.questgiver.phone_numbers if quest.questgiver.phone_numbers.exists?%></td>
>>>>>>> 8cd3985ef91ef8c5eb1e537b147917079f49a79e
              <td class="text-right">
                <%= link_to complete_quests_path(id: quest, s: true), method: :post, class: "btn btn-success" do %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% end %>
                <%= link_to complete_quests_path(id: quest, s: false), method: :post, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% current_user.pendings.each do |pq| %>
            <tr class="active">
<<<<<<< HEAD
              <td><%= pq.quest.title %></td>
=======
              <td><%= link_to pq.quest.title, pq.quest %></td>
>>>>>>> 8cd3985ef91ef8c5eb1e537b147917079f49a79e
              <td><%= pq.quest.price %></td>
              <td><%= pq.quest.description %></td>
              <% if pq.quest.expiration_time < Time.now %>
              <td class="text-danger">expired <%= time_ago_in_words(pq.quest.expiration_time) %> ago!</font> </td>
              <% else %>
              <td>in <%= time_ago_in_words(pq.quest.expiration_time) %>
              <% end %>
              </td>
              <td><%= link_to pq.quest.questgiver.username, pq.quest.questgiver.profile %></td>
              <td class="text-right">
                <%= link_to pending_path(pq), method: :delete, class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="posted">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Expiration time</th>
            <th>Adventurer</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <% current_user.quests_posted.each do |quest| %>
            <tr>
              <td><%= link_to quest.title, quest %></td>
              <td><%= quest.price %></td>
              <td><%= quest.description %></td>
              <% if quest.expiration_time < Time.now %>
              <td class="text-danger">expired <%= time_ago_in_words(quest.expiration_time) %> ago!</font> </td>
              <% else %>
              <td>in <%= time_ago_in_words(quest.expiration_time) %>
              <% end %>
              </td>
              <td><%= link_to quest.adventurer.username, quest.adventurer.profile if quest.adventurer %>&nbsp;
                <%= quest.questgiver.phone_numbers if quest.questgiver.phone_numbers.exists?%></td>
              <td class="text-right">
                <% if quest.status.eql? "complete" %>
                <%= link_to new_review_path(param: {quest_id: quest.id, questgiver_id: quest.questgiver_id, adventurer_id: quest.adventurer_id}), class: "btn btn-info" do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% end %>
                <%= link_to quest_path(quest), class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="history">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Post time</th>
            <th>Review</th>
            <th>Questgiver</th>
            <th>&nbsp;</th>
          </tr> 
        </thead>

        <tbody>
          <% current_user.quests_accepted.where("status >= ?", Quest.statuses[:complete]).each do |quest| %>
            <tr>
              <td><%= quest.title %></td>
              <td><%= quest.price %></td>
              <td><%= quest.description %></td>
              <td><%= time_ago_in_words(quest.post_time) %></td>
              <td><%= link_to quest.review.rating, quest.review if quest.review %></td>
              <td><%= link_to quest.questgiver.username, quest.questgiver.profile %></td>
              <td class="text-right">
                <% if quest.success? %>
                  <%= link_to quest_path(quest), class: "btn btn-success" do %>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
                <% else %>
                  <%= link_to quest_path(quest), class: "btn btn-danger" do %>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'profile' %>
<% end %>

