<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Questgiver rating:</strong>
  <%= @profile.questgiver_rating %>
</p>

<p>
  <strong>Adventurer rating:</strong>
  <%= @profile.adventurer_rating %>
</p>

<%= link_to 'Edit', edit_user_registration_path() %> |
<%= link_to 'Back', profiles_path %>
