<!DOCTYPE html>
<html>
<head>
  <title>QuestingAdventurer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Questing Adventurer", home_path, :class => 'navbar-brand'%>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", home_path, :class => 'navbar-link'%></li>
        <li><%= link_to "Quest Listings", listing_path, :class => 'navbar-link'  %></li>
        <li><a href="#" target="_blank">Post a Quest</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <li>
        <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
        </li>
        <li>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        </li>
        <% end %>
      </ul>
    </div>


  </div>
</nav>

<%= yield %>

</body>
</html>
