<li class="list-group-item">
<% if activity.trackable %>
	<span class="glyphicon glyphicon-ok"></span>
  	<small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
	<%= activity.owner.username if activity.owner %> has completed your quest!
	View the completed quest:
  <%= link_to activity.trackable.title, activity.trackable %> 
  	Be sure to leave a review for <%= activity.owner.username %>
<% else %>
	<span class="glyphicon glyphicon-remove-sign"></span>
  	<small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  It appears this quest no longer exists!
<% end %>
</li>