<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, min: 1, max: 5 %>
  </div>

  <input id="review_quest_id" name="review[quest_id]" type="hidden" value= "<%= @review.quest_id%>">
  <input id="review_questgiver_id" name="review[questgiver_id]" type="hidden" value= "<%= @review.questgiver_id%>">
  <input id="review_adventurer_id" name="review[adventurer_id]" type="hidden" value= "<%= @review.adventurer_id%>">

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, rows: 10, cols: 50 %>
  </div>
  <div class="field">
    <%= f.label :post_time %><br>
    <%= f.datetime_select :post_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
