<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :rating %><br>
    <div id="rating"></div1>

      <script> 
      var rating = 0
      $('#rating').raty({
              score : 3,
              starOff : '<%= image_path('star-off.png') %>',
              starOn : '<%= image_path('star-on.png') %>',
              click : function(score, evt) { 
                console.log("score: " + score);
                $('#review_rating').val(score) }
      }); 
      </script>
      <input id="review_rating" name="review[rating]" type="hidden"/>
  </div>
  

  <input id="review_quest_id" name="review[quest_id]" type="hidden">

  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, rows: 10, cols: 50, class:"form-control" %>
  </div>
  <% if false %>
  <div class="field">
    <%= f.hidden_field :post_time, :value => Time.now %>
  </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :post_time, :value => Time.now %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
