<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Quest:</strong>
  <%= @review.quest.title %>
</p>

<p>
  <strong>Questgiver:</strong>
  <%= @review.questgiver.username %>
</p>

<p>
  <strong>Adventurer:</strong>
  <%= @review.adventurer.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Post time:</strong>
  <%= @review.post_time %>
</p>

<%= link_to 'Back', reviews_path %>
