<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p><%= f.label :username %><br />
    <%= f.text_field :username %></p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.fields_for :profile, Profile.new do |profile_form| %>
    <div class="field">
      <%= profile_form.label :first_name %><br>
      <%= profile_form.text_field :first_name %>
    </div>
    <div class="field">
      <%= profile_form.label :last_name %><br>
      <%= profile_form.text_field :last_name %>
    </div>
    <div class="field">
      <%= profile_form.label :gender %><br>
      <%= profile_form.select(:gender, [['Male', 'Male'], ['Female', 'Female']]) %>
    </div>
    <div class="field">
      <%= profile_form.label :address %><br>
      <%= profile_form.text_field :address %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
